@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&family=Urbanist:ital,wght@1,200;1,400&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Signika Negative';
}
